
body {
    background-color: #0e234d;
    color:white;
}



h1 {
    text-align: center;
}   

#hra {
    position: relative;
    margin: 0 auto;
    width: 900px;
    height: 600px;
    background-image: url("obrázky/pozadi.png");
    background-size: 100% 100%;
}

#sane {
    position: absolute;
    top: 10px;
    left: 300px;
}

#robot {
    position: absolute;
    top: 495px;
    left: 200px;
}